<mat-toolbar color="primary" class="mat-elevation-z6">
    <a class="site-name" mat-button routerLink="/app">Sidearm</a>
    <a mat-button routerLink="/app/inventory">Inventory</a>
    <a mat-button routerLink="/app/cycles">Cycles</a>
    <a mat-button routerLink="/app/vendors">Vendors</a>
</mat-toolbar>

<router-outlet *ngIf="loading == false"></router-outlet>
<mat-spinner *ngIf="loading == true"></mat-spinner>